body{
    background-color: blueviolet;
    margin: 0;
    box-sizing: border-box;
}
.imgBox{
    background-image: url('me2.jpg');
    position: relative;
    top: 5px;
    left: 5px;
    height: 145px;
    width: 145px;
    cursor: pointer;
}
.clear{
    background-color: white;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    font-family: cursive;
    font-size: larger;
    margin-left:25px ;
    position: fixed;

}
.whitebox{
    display: inline-block;
    background-color: white;
    height: 155px;
    width: 155px;
    margin: 10px;
    cursor: pointer;

}
.dashed{
    background-color: rgb(123, 196, 210);
}
.hold{
    border: solid rgb(42, 37, 37) 2px;
}
.hide{
    display: none;
}