body{
    margin: 0;
    width: auto;
   height: 100vh;
    
   
    
    
}
.container{
    background-color: whitesmoke;
    height: 100vh;
    width: 100%;
    border: 1px solid black;

   
   display: flex;
   justify-content: center;
   align-items: center;
   
   
}
.container1{
    width: 50vw;
    border: 1px solid wheat;
   padding: 10%;
   
   
   
}
.container2{
    width: 100vw;

 
    position: relative;
   
   
    
}
.form{
    
    
 
   background-color: white;
  width: 50vw;
   display: flex;
   flex-direction: column;
    
   align-items: center;
   border: 1px solid wheat;
   border-radius: 10px;
   
}
.form>a{
    text-decoration: none;
}.btn{
    border-radius: 5px;
    cursor: pointer;
    width:50% ;
    height: 3rem;
    
}






























